.classpath
.project
.externalToolBuilders/Maven_Ant_Builder.launch
.settings
maven-eclipse.xml
target
src/main/frontend/node/
src/main/frontend/node_modules/
src/main/frontend/mount/*
!src/main/frontend/mount/jspm
src/main/frontend/mount/jspm/*
!src/main/frontend/mount/jspm/config.js
!src/main/frontend/mount/emptyfile4git.txt
